/* Write your CSS code here */
.notCon {
  max-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notImg {
  height: 60vh;
}
.notH {
  font-size: 7vh;
  color: #6d396b;
}
