/* Write your CSS code here */
.aboutCon {
  max-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutImg {
  height: 40vh;
}
.aboutH {
  font-size: 7vh;
  color: #6d396b;
}
.aboutP {
  font-size: 4vh;
  color: #555555;
}
