/* Write your CSS code here */
.navCon {
  max-width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}
.logoCon {
  display: flex;
  align-items: center;
}
.logoImg {
  height: 4vh;
}
.logoH {
  font-size: 3vh;
  margin-left: 6px;
  color: #12022f;
}
.listCon {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}
.tabItem {
  text-decoration: none;
  font-size: 4vh;
  color: #12022f;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 550;
}
